%p
  %h6 Changelog
  %ul
    %li RNG initialization fix (for FF). Shake your mouse to create entropy
    %li Encryption of pastes, client-side (in javascript)
    %li less styles.
  %h6 Futurelog (Yes, I see the future)
  %ul
    %li Administration link to modify the paste expiry
%hr
.footer
  %p
    &copy; Zoy 2012 - contact me @octplane for question, requests and whatever
