%p
  %h6 Changelog
  %ul
    %li Support for expiration
    %li Support for style switching (limited)
    %li Support for highlight switching (limited)
    %li Preliminary support for # memory
%hr
.footer
  %p
    &copy; Zoy 2012 - contact me @octplane for question, requests and whatever
