%p
  %h6 Changelog
  %ul
    %li Support for appfog cloud provider
    %li 404's (ugly ones, but 404 anyway !)
    %li Darker main layout, for dark themes
    %li Anchor now remembers style and syntax
    %li Blue button with Gluu
    %li Support for expiration
  %h6 Futurelog (Yes, I see the future)
  %ul
    %li Encryption of pastes, serverside
    %li Administration link to modify the paste expiry
%hr
.footer
  %p
    &copy; Zoy 2012 - contact me @octplane for question, requests and whatever
