%p
  %h6 Changelog
  %ul
    %li Anchor now remembers style and syntax
    %li Blue button with Gluu
    %li Support for expiration
  %h6 Futurelog (Yes, I see the future)
  %ul
    %li Cookie to save prefered theme
    %li Darker main layout, for dark themes
%hr
.footer
  %p
    &copy; Zoy 2012 - contact me @octplane for question, requests and whatever
