.container
    .row
        .span4
            %h2
                Copie Privéee
            %p
Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
            %p
This is probably a #{@scores[0].inspect} snippet.
        .span8
            %form{:class=>'well', :method => 'POST', :action => 'paste'}
                %textarea{:name=>'code', :class => 'input-xlarge', :rows => '10'}= @code
                %input{:type=>'submit', :id => 'code', :class => 'btn btn-primary'}
    %hr

    %div= haml :footer
