!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Copie Privee
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    %link{ :href => "/hi/styles/solarized_light.css", :type => "text/css", :rel => "stylesheet" }
    %link{ :href => "/c.css", :type => "text/css", :rel => "stylesheet" }
    %link{ :href => "/css/dropzone.css", :type => "text/css", :rel => "stylesheet" }
    %link{ :href => "/css/basic.css", :type => "text/css", :rel => "stylesheet" }


    %style
      :plain

  %body
    %div.top-container= haml :navbar
    %div.container= yield
    %div= haml :footer
    / Placed at the end of the document so the pages load faster
    %script{ :type => "text/javascript", :src =>"//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
    %script{ :type => "text/javascript", :src =>"/js/uu.js"}
    %script{ :type => "text/javascript", :src =>"/hi/highlight.pack.js"}
    %script{ :type => "text/javascript", :src =>"/js/sjcl.js"}
    %script{ :type => "text/javascript", :src =>"/js/dropzone.min.js"}

