%html
  %head
    %meta{:charset => "utf-8"}
    %title Copie Privee
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    %style
      :plain
        body { padding-top: 60px;
          padding-bottom: 40px;
        }
    %link{ :href => "/css/bootstrap.min.css", :type => "text/css", :rel => "stylesheet" }  

    %link#css{ :href => "/hi/styles/solarized_light.css", :type => "text/css", :rel => "stylesheet" }  
  
  %body

    %div= haml :navbar
    %div
      %div.container= yield
    / Placed at the end of the document so the pages load faster
    %script{ :type => "text/javascript", :src =>"/scripts/jquery-1.6.1.min.js"}
    %script{ :type => "text/javascript", :src =>"/js/uu.js"}
    %script{ :type => "text/javascript", :src =>"/hi/highlight.pack.js"}