.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => '/'} Copie Privée
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '/about'} &Agrave; propos
          %li
            %a{:href => '/'} Nouveau Collage
