body {
  font-family: monospace;
  margin-top: 0px;
}
.top-container {
  position: relative;
  font-size: 0.8em;


  a.brand {
    color: red;
  }

  ul.nav {
    display: inline;
    li {
      display: inline;
    }

  }
}
.container {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0px;
  right: 0px;
}

.footer { 
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-left: 10px;
}

.action { position: relative;}

#clear_code {
  margin: 30px;
  left: 0px;
  right: 0px;
  top: 50px;
  bottom: 50px;
  position: absolute;
}

textarea {
  border: 1px dashed #66cccc;
  background-color: #fdf6e3;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
}
#encrypted, #spare, .hidden{
  display:none;
}

#spare {
  width: 100%;
  font-family: monospace;
  border: 1px solid #66cccc;
  font-size: 12px;
}

pre code,  {
  font-size: 12px;
  overflow: display;
  border: 1px solid #66cccc;
}
.f {
  width: 100%;
}
